.newsSection {
  background-color: rgb(246, 246, 239);
  margin: 0;
  padding: 0;
}

.newsWrapper > h2:last-child {
  margin-bottom: 0;
}
.newsWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.story {
  font-size: 14px;
}

.storyUrl {
  font-size: 10px;
  color: gray;
}

.points {
  font-size: 10px;
  color: gray;
}

.author {
  font-size: 10px;
  color: gray;
}

.date {
  font-size: 10px;
  color: gray;
}

.hide {
  font-size: 10px;
  color: gray;
}

.comments {
  font-size: 10px;
  color: gray;
}
