.newsSection {
  background-color: rgb(246, 246, 239);
  margin-left: 0px;
  padding: 0;
}

.newsWrapper > h2:last-child {
  margin-bottom: 0;
}
.newsWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 10px;
}
.story {
  font-size: 14px;
}

.infos {
  font-size: 10px;
  color: gray;
  line-height: 1%;
  
}